div(class=" routes bg-[#62B5E5] text-slate-50 font-bold h-16 flex items-center justify-between mb-5 rounded-lg m-1")
    ul(class="flex") 
        li(class="w-56 text-center")
            a(href="/classement") Classement 
        li(class="w-56 text-center") 
            a(href="/equipes") Equipes 
        li(class="w-56 text-center")
            a(href="/equipes") Profil 
    div(class="mr-12")
        button(class="w-28 text-center border-solid border-slate-500 rounded-full bg-[#001489] py-0.5 mr-4 hover:text-[#001489] hover:bg-slate-50 duration-500") Connexion
        button(class="w-28 text-center border-solid border-slate-500 rounded-full bg-[#001489] py-0.5 hover:text-[#001489] hover:bg-slate-50 duration-500") Inscription