<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <div id="signin">
      <form method="post" action="/home">
        <label for="name">Nom d'utilisateur</label>
        <input type="text" name="name" />
        <label for="password">Mot de passe</label>
        <input type="password" name="password" />
        <button>Se connecter</button>
      </form>
    </div>
  </body>
</html>
