extends layout.pug 

block content 
    .shadow-md.mx-10.mt-36(class='sm:rounded-lg' id='ranking')
        table.w-full.text-sm.text-gray-500
            thead.text-xs.text-gray-700.uppercase.bg-gray-50
                tr
                    th.px-6.py-3(scope='col')
                        | Equipes
                    th.px-6.py-3(scope='col')
                        | Match joués
                    th.px-6.py-3(scope='col')
                        | Victoires
                    th.px-6.py-3(scope='col')
                        | Nuls
                    th.px-6.py-3(scope='col')
                        | Defaites
                    th.px-6.py-3(scope='col')
                        | Points                                  
            tbody
                - teams.sort((a, b) => b.rank.points - a.rank.points).forEach((team) => {
                    tr.border-b(class='odd:bg-white')
                        td.px-6.py-4.text-center.font-bold.text-gray-800
                            a(href='/equipes/'+team._id)= team.teamname
                        td.px-6.py-4.text-center
                            =team.rank.playing   
                        td.px-6.py-4.text-center
                            =team.rank.wins   
                        td.px-6.py-4.text-center
                            =team.rank.draws   
                        td.px-6.py-4.text-center
                            =team.rank.looses
                        td.px-6.py-4.text-center
                            =team.rank.points
                - });
                        