
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    table(width='100%', style='max-width: 650px; display: block; margin: auto')
      tbody
        tr
            td(width='100%')
                h1 TeamUnity
        tr
            td(width='100%') 
                p Vous avez demandé une reinitialisation de mot de passe
        tr
            td(width='100%')
                a(href=url, target ='_blank' style='display: block; text-align: center; padding: 10px 0; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;') Reinitialiser le mot de passe